### DK Salaries Optimizer

In [54]:
import pandas as pd
import numpy as np
from pulp import *

In [55]:
dk_data = pd.read_csv("dksalaries.csv")

# Get the fields that are useful
dk_data = dk_data[['Name', 'Roster Position', 'Salary', 'TeamAbbrev', 'AvgPointsPerGame']]

dk_data.head()

               Name Roster Position  Salary TeamAbbrev  AvgPointsPerGame
0  Donovan Mitchell    PG/SG/G/UTIL    9900        UTA             39.67
1      Jamal Murray    PG/SG/G/UTIL    9700        DEN             35.51
2      Nikola Jokic          C/UTIL    9500        DEN             46.61
3      Jayson Tatum    SF/PF/F/UTIL    9200        BOS             42.15
4     Pascal Siakam       PF/F/UTIL    8000        TOR             40.82

In [56]:
# Roster Positions for NBA 
nba_roster_positions = ['PG', 'SG', 'SF', 'PF', 'C', 'G', 'F', 'UTIL']

SALARY_CAP = 50000
MAX_PLAYERS = 8

for position in nba_roster_positions:
    dk_data[position] = [1 if position in x else 0 for x in dk_data['Roster Position']]

In [57]:
prob = LpProblem("OptimizeDK",LpMaximize)

In [58]:
names = dk_data['Name']
salaries = dk_data['Salary']
projected_points = dk_data['AvgPointsPerGame']

In [59]:
dk_data.head()

,Name,Roster Position,Salary,TeamAbbrev,AvgPointsPerGame,PG,SG,SF,PF,C,G,F,UTIL
0,Donovan Mitchell,PG/SG/G/UTIL,9900,UTA,39.67,1,1,0,0,0,1,0,1
1,Jamal Murray,PG/SG/G/UTIL,9700,DEN,35.51,1,1,0,0,0,1,0,1
2,Nikola Jokic,C/UTIL,9500,DEN,46.61,0,0,0,0,1,0,0,1
3,Jayson Tatum,SF/PF/F/UTIL,9200,BOS,42.15,0,0,1,1,0,0,1,1
4,Pascal Siakam,PF/F/UTIL,8000,TOR,40.82,0,0,0,1,0,0,1,1

In [60]:
players = pulp.LpVariable.dicts("player", dk_data.index, lowBound=0, cat='Binary')

In [61]:
players = pulp.LpVariable.dicts("player", 
                                ((i, j) for i in names for j in nba_roster_positions),
                                lowBound=0, 
                                cat='Binary')

assigned = pulp.LpVariable.dicts("assigned", 
                                names,
                                lowBound=0, 
                                cat='Binary')

In [62]:
players['Donovan Mitchell', 'PG']

player_('Donovan_Mitchell',_'PG')

In [63]:
'PG' in dk_data[dk_data['Name'] == 'Donovan Mitchell']['Roster Position'][0]

True

In [68]:
# The objective function is added to 'prob' first
# OBJ FUNCTION
prob += sum([players[i] * projected_points[i] for i in players]), 'Projected Points'

KeyError: ('Donovan Mitchell', 'PG')

In [ ]:
# for all positions, if player can't fill that roster position, set lp var to 0
for name in names:
    for position in nba_roster_positions:
        if position not in dk_data[dk_data['Name'] == name]['Roster Position'][0]
            prob += players[name, position] == 0

In [11]:
# CONSTRAINTS

# Stay under salary cap
prob += lpSum([salaries[i] * players[i] for i in players]) <= SALARY_CAP

# Stay under Num Players
prob += lpSum([players[i] for i in players]) <= MAX_PLAYERS

# Select one of each position
for position in nba_roster_positions:
    prob += lpSum([dk_data[position][i] * players[i] for i in players]) >= 1

In [19]:
# prob

In [13]:
# The problem is solved using PuLP's choice of Solver
prob.solve()

1

In [14]:
# Each of the variables is printed with it's resolved optimum value
for v in prob.variables():
    if v.varValue == 1:
        print(v.name)
        v.getName

player_11
player_13
player_20
player_21
player_33
player_4
player_5
player_7

In [15]:
flow = {l:players[l].varValue for l in players}

In [16]:
output = []
for p in players:
    var_output = {
     'Player':p,
     'Selected':flow[p]
     }
    output.append(var_output)

In [17]:
dfOptResults = pd.DataFrame.from_records(output)
dfOptResults.set_index('Player', inplace=True)

data = pd.merge(dk_data, dfOptResults, how='left', left_index=True, right_index=True)

In [18]:
data[data['Selected'] == 1]

,Name,Roster Position,Salary,TeamAbbrev,AvgPointsPerGame,PG,SG,SF,PF,C,G,F,UTIL,Selected
4,Pascal Siakam,PF/F/UTIL,8000,TOR,40.82,0,0,0,1,0,0,1,1,1.0
5,Rudy Gobert,C/UTIL,7900,UTA,39.43,0,0,0,0,1,0,0,1,1.0
7,Kyle Lowry,PG/G/UTIL,7700,TOR,40.48,1,0,0,0,0,1,0,1,1.0
11,Gordon Hayward,SF/PF/F/UTIL,6700,BOS,34.31,0,0,1,1,0,0,1,1,1.0
13,Serge Ibaka,C/UTIL,6200,TOR,31.14,0,0,0,0,1,0,0,1,1.0
20,Bojan Bogdanovic,SF/F/UTIL,5000,UTA,30.04,0,0,1,0,0,0,1,1,1.0
21,Norman Powell,SG/SF/F/G/UTIL,4900,TOR,26.40,0,1,1,0,0,1,1,1,1.0
33,Enes Kanter,C/UTIL,3400,BOS,20.37,0,0,0,0,1,0,0,1,1.0