### DK Salaries Optimizer

In [54]:
import pandas as pd
import numpy as np
from pulp import *

In [55]:
dk_data = pd.read_csv("dksalaries.csv")

# Get the fields that are useful
dk_data = dk_data[['Name', 'Roster Position', 'Salary', 'TeamAbbrev', 'AvgPointsPerGame']]

dk_data.head()

               Name Roster Position  Salary TeamAbbrev  AvgPointsPerGame
0  Donovan Mitchell    PG/SG/G/UTIL    9900        UTA             39.67
1      Jamal Murray    PG/SG/G/UTIL    9700        DEN             35.51
2      Nikola Jokic          C/UTIL    9500        DEN             46.61
3      Jayson Tatum    SF/PF/F/UTIL    9200        BOS             42.15
4     Pascal Siakam       PF/F/UTIL    8000        TOR             40.82

In [165]:
injured_players = ['Gordon Hayward']

In [166]:
dk_data = dk_data[~dk_data['Name'].isin(injured_players)]

In [167]:
# Roster Positions for NBA 
nba_roster_positions = ['PG', 'SG', 'SF', 'PF', 'C', 'G', 'F', 'UTIL']

SALARY_CAP = 50000
MAX_PLAYERS = 8


def make_vars(name, position, roster_position):
    if position in roster_position:
        return LpVariable(name + '_' + position,lowBound=0, cat='Binary')
    return 0

for position in nba_roster_positions:
    dk_data[position] = dk_data.apply(lambda x: make_vars(x['Name'],position, x['Roster Position']),axis=1)

    #[1 if position in x else 0 for x in dk_data['Roster Position']]

In [168]:
prob = LpProblem("OptimizeDK",LpMaximize)

In [169]:
names = dk_data['Name']
salaries = dk_data['Salary']
projected_points = dk_data['AvgPointsPerGame']

In [170]:
dk_data.head()

,Name,Roster Position,Salary,TeamAbbrev,AvgPointsPerGame,PG,SG,SF,PF,C,G,F,UTIL
0,Donovan Mitchell,PG/SG/G/UTIL,9900,UTA,39.67,Donovan_Mitchell_PG,Donovan_Mitchell_SG,0,0,0,Donovan_Mitchell_G,0,Donovan_Mitchell_UTIL
1,Jamal Murray,PG/SG/G/UTIL,9700,DEN,35.51,Jamal_Murray_PG,Jamal_Murray_SG,0,0,0,Jamal_Murray_G,0,Jamal_Murray_UTIL
2,Nikola Jokic,C/UTIL,9500,DEN,46.61,0,0,0,0,Nikola_Jokic_C,0,0,Nikola_Jokic_UTIL
3,Jayson Tatum,SF/PF/F/UTIL,9200,BOS,42.15,0,0,Jayson_Tatum_SF,Jayson_Tatum_PF,0,0,Jayson_Tatum_F,Jayson_Tatum_UTIL
4,Pascal Siakam,PF/F/UTIL,8000,TOR,40.82,0,0,0,Pascal_Siakam_PF,0,0,Pascal_Siakam_F,Pascal_Siakam_UTIL

In [173]:
# The objective function is added to 'prob' first
# OBJ FUNCTION
prob += lpSum([dk_data[i] * projected_points for i in nba_roster_positions]), 'Projected Points'

In [174]:
# CONSTRAINTS

# Stay under salary cap
prob += lpSum(salaries * dk_data[i] for i in nba_roster_positions) <= SALARY_CAP

# Stay under Num Players
prob += lpSum(dk_data[i] for i in nba_roster_positions) <= MAX_PLAYERS

# Select one of each position
for position in nba_roster_positions:
    prob += lpSum([dk_data[position]]) >= 1

# Don't use same player twice
for index, row in dk_data.iterrows():
    prob += lpSum(row[i] for i in nba_roster_positions) <= 1

In [175]:
# prob

In [176]:
# The problem is solved using PuLP's choice of Solver
prob.solve()

1

In [177]:
prob.status

1

In [178]:
print("Total Estimated Points = ", value(prob.objective))

Total Estimated Points =  261.13

In [179]:
# Each of the variables is printed with it's resolved optimum value
for v in prob.variables():
    if v.varValue == 1:
        print(v.name)
        v.getName

Bojan_Bogdanovic_SF
Enes_Kanter_UTIL
Gary_Harris_SG
Kemba_Walker_PG
Kyle_Lowry_G
Nikola_Jokic_C
Norman_Powell_F
Pascal_Siakam_PF